<div class="menuFlex">
    <button (click) = "goToConcoursesPage()" class="optionsButton" mat-button>
        <mat-icon class="optionsIcons">featured_play_list</mat-icon>
        Concursos
    </button>
    
    <button (click) = "goToMyAccount()" class="optionsButton" mat-button>
        <mat-icon class="optionsIcons">person</mat-icon>
        Meu Cadastro
    </button>
    
    <button (click) = "goToMyInscriptions()" class="optionsButton" mat-button>
        <mat-icon class="optionsIcons">recent_actors</mat-icon>
        Inscrições
    </button>
    
    <button (click) = "goToLocations()" class="optionsButton" mat-button>
        <mat-icon class="optionsIcons">place</mat-icon>
        Localidades
    </button>
</div>
